doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Email Verification
  body
    h1 Email Verification
    p Dear #{name},
    p Thank you for registering. Please verify your email by clicking the link below:
    //- a(href=token) Verify Email
    a(href='http://localhost:3000/api/users/verify/' + verificationToken) Verify Email

    p If you did not request this, please ignore this email.
    p Best Regards,
    p Your Company Name